.main-nav__logo-wrapper {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-nav a[href] {
  cursor: pointer;
  transition: all 0.3s ease;
}

.main-nav a[href]:hover {
  opacity: 0.6;
}

.main-nav a[href]:active {
  opacity: 0.3;
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
}

.main-nav__list--sales-list {
  display: none;
}

.main-nav__link {
  display: block;
  padding-top: 27px;
  padding-bottom: 27px;
  padding-left: 76px;
  color: #000000;
  font-size: 17px;
  font-weight: 700;
  text-decoration: none;
  border-top: 1px solid #ececec;
}

.main-nav__item--search,
.main-nav__item--cart {
  position: relative;
}

.main-nav__item--search svg,
.main-nav__item--cart svg {
  position: absolute;
  top: 30px;
  left: 30px;
  width: 20px;
  height: 20px;
  opacity: 0.2;
}

.main-nav__promotion {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    z-index: 10;

    @include tablet-container;
  }

  .main-nav__logo-wrapper {
    height: 88px;
    width: 320px;
    justify-content: flex-start;
  }

  .main-nav__list {
    flex-direction: row;
  }

  .main-nav__item--search a {
    font-size: 0;
  }

  .main-nav__item a {
    padding-top: 35px;
  }

  .main-nav__item--search svg,
  .main-nav__item--cart svg {
    top: 35px;
    fill: #231f20;
    opacity: 0.2;
    transition: all 0.3s ease;
  }

  .main-nav__item--search:hover svg,
  .main-nav__item--cart:hover svg {
    opacity: 1;
    fill: #62d1ba;
  }

  .main-nav__item--search:active svg,
  .main-nav__item--cart:active svg {
    fill: #62d1ba;
    opacity: 0.3;
  }

  .main-nav__item--search {
    width: 85px;
    border-right: 1px solid #e7e7e7;
    border-left: 1px solid #e7e7e7;
  }

  .main-nav__list--site-list {
    order: 2;
  }

  .main-nav__list--sales-list {
    display: none;
  }

  .main-nav__link {
    border-top: 0;
  }

  .main-nav__promotion {
    display: block;
    order: 4;
    margin-top: 20px;
    margin-bottom: 0;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
  .main-nav__list--site-list a {
    @include bottom-links;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    @include desktop-container;
  }

  .main-nav__logo-wrapper {
    padding-left: 40px;
    width: 220px;
  }

  .main-nav__list--site-list {
    order: -1;
    width: 375px;
  }

  .main-nav__list--site-list li:nth-child(1) a {
    padding-right: 35px;
    border-right: 1px solid #ececec;
  }

  .main-nav__list--site-list li:nth-child(2) a {
    padding-left: 35px;
  }

  .main-nav__list--site-list a {
    padding-left: 0;
  }

  .main-nav__list--user-list {
    width: 350px;
  }

  .main-nav__list--sales-list {
    display: flex;
  }

  .main-nav__list--sales-list a {
    @include bottom-links;
    margin-right: 60px;
  }
}
