.page-header {
  position: relative;
}

.page-header__menu-burger {
  position: absolute;
  top: 30px;
  right: 30px;
  width: 20px;
  height: 20px;
  border: none;
  background-image: url("../img/icon-menu-open.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: transparent;
  z-index: 5;
}

.page-header--menu-opened .page-header__menu-burger {
  background-image: url("../img/icon-menu-close.svg");
}

@media (max-width: $mobile-only) {
  .page-header {
    width: 320px;
    margin: 0 auto;
    height: 80px;
    overflow: hidden;
  }

  .page-header--menu-opened {
    height: auto;
    overflow: visible;
  }
}

@media (min-width: $tablet-width) {
  .page-header {
    height: 87px;
    border-bottom: 1px solid #e7e7e7;
  }

  .page-header__menu-burger {
    display: none;
  }
}
