.page-intro {
  @include mobile-container;
  padding-top: 25px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .page-intro {
    width: 493px;
    margin: 0 auto;
    padding-left: 225px;
    padding-right: 50px;
    font-size: 17px;
    line-height: 30px;
  }
}

@media (min-width: $tablet-width) {
  .page-intro {
    width: 700px;
    padding-top: 125px;
    padding-left: 65px;
  }
}
