.products {
  padding-top: 30px;
  padding-bottom: 30px;

  @include mobile-container;
}

.products__item:not(:first-child) {
  margin-top: 30px;
}


@media (min-width: $tablet-width) {
  .products {
    padding-top: 80px;
    padding-bottom: 50px;

    @include tablet-container;
  }

  .products__item:not(:first-child) {
    margin-top: 50px;
  }
}

@media (min-width: $desktop-width) {
  .products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 120px;
    padding-bottom: 50px;

    @include desktop-container;
  }

  .products__item:not(:first-child) {
    margin-top: 0;
  }

  .products__item {
    margin-bottom: 30px;
  }
}
