.btn {
  box-sizing: border-box;
  display: block;
  width: 100%;
  padding-top: 14px;
  padding-bottom: 14px;
  font-size: 17px;
  line-height: 20px;
  font-family: "Open Sans", "Arial", sans-serif;
  font-weight: 700;
  color: #444444;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  border: 2px solid #444444;
  background-color: transparent;
  transition: all 0.3s ease;
}

.btn:hover {
  color: #ffffff;
  background-color: #444444;
}

.btn:active {
  color: rgba($color: #ffffff, $alpha: 0.5);
}
