.page-intro {
  margin: 0;
  padding-top: 25px;
  padding-left: 30px;
  padding-right: 30px;
  font-size: 13px;
  line-height: 24px;
  font-family: 'Open Sans';
  font-weight: 400;
  color: #444444;
}
