.page-footer {
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  @include mobile-container;
}

.page-footer__logo {
  display: none;
}

.page-footer__social-list {
  display: flex;
  justify-content: space-between;
  width: 150px;
  margin: 0 auto;
  padding: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 55px;
  padding-right: 55px;
  font-size: 0;
  list-style: none;
  border-bottom: 1px solid #e5e5e5;
}

.page-footer__social-item {
  height: 30px;
}

.page-footer__social-item a {
  display: inline-flex;
  align-items: center;
  width: 30px;
  height: 30px;
  color: #231f20;
  transition: all 0.3s ease;
}

.page-footer__social-item:hover a {
  color: #62d1ba;
}

.page-footer__social-item:active a {
  opacity: 0.3;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 180px;
  margin: 0 auto;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 40px;
  padding-right: 40px;
  font-size: 19px;
  line-height: 19px;
  font-weight: 700;
  color: #000000;
  text-decoration: none;
  transition: all 0.3s ease;
}

.page-footer__icon-academy {
  color: #000000;
  font-size: 0;
  width: 26px;
  height: 34px;
  transition: all 0.3s ease;
}

.page-footer__copyright:active {
  opacity: 0.3;
}

.page-footer__copyright:hover .page-footer__icon-academy {
  color: #62d1ba;
}

@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    @include tablet-container;
  }

  .page-footer__logo {
    display: flex;
    align-items: center;
    width: 180px;
    color: #000000;
    transition: all 0.3s ease;
  }

  .page-footer__logo[href]:hover {
    color: #62d1ba;
  }

  .page-footer__logo[href]:active {
    color: #62d1ba;
    opacity: 0.3;
  }

  .page-footer__social-list {
    margin: 0;
    padding-left: 15px;
    padding-right: 15px;
  }

  .page-footer__copyright {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    @include desktop-container;
  }
}
