.preview-video {
  width: 260px;
  margin: 0 auto 60px;
  transition: box-shadow 0.3s ease;
}

.preview-video:hover {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
}

.preview-video:active {
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.1);
}

.preview-video__title {
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 90px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #000000;
  border: 1px solid #ececec;
  border-bottom-width: 0;
}

.preview-video__bottom-wrapper {
  padding-top: 30px;
  padding-bottom: 32px;
  padding-left: 33px;
  padding-right: 33px;
  border: 1px solid #ececec;
  border-top-width: 0;
}

.preview-video__desc {
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}

.preview-video__title--icon-camera {
  background-image: url("../img/icon-video.svg");
  background-size: 32px 32px;
  background-repeat: no-repeat;
  background-position: 33px center;
}

@media (min-width: $tablet-width) {
  .preview-video {
    display: flex;
    flex-direction: column;
    width: 668px;
    margin: 0 auto;
  }

  .preview-video__title {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 20px;
  }

  .preview-video__bottom-wrapper {
    padding-top: 0;
  }

  .preview-video__desc {
    margin-top: 0;
    font-size: 15px;
    line-height: 30px;
  }

  .preview-video__image {
    order: -1;
    width: 100%;
  }
}

@media (min-width: $desktop-width) {
  .preview-video {
    position: relative;
    width: 1050px;
    margin: 0 auto 105px;
  }

  .preview-video__image {
    position: absolute;
    top: 0;
    left: 0;
    width: 682px;
    height: 455px;
  }

  .preview-video__title {
    width: 206px;
    margin-left: auto;
    padding-top: 90px;
    padding-bottom: 35px;
    padding-left: 80px;
    padding-right: 80px;
    border-left-width: 0;
  }

  .preview-video__bottom-wrapper {
    width: 206px;
    margin-left: auto;
    padding-left: 80px;
    padding-right: 80px;
    border-left-width: 0;
    height: 248px;
  }

  .preview-video__title--icon-camera {
    background-position: 80px 45px;
  }

  .preview-video__desc {
    margin-bottom: 45px;
  }
}
