.product-preview {
  padding-top: 30px;
  padding-bottom: 35px;

  @include mobile-container;
}

.product-preview__heading {
  margin-bottom: 30px;
}

.product-preview__title {
  margin: 0;
  color: #000000;
  font-size: 25px;
  line-height: 30px;
  font-weight: 700;
}

.product-preview__reason {
  margin: 0;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}

.product-preview__desc {
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}

.product-preview__properties {
  width: 100%;
  margin-bottom: 30px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
}

.product-preview__properties td,
.product-preview__properties th {
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ececec;
}

.product-preview__image {
  width: 260px;
  height: 315px;
  margin-bottom: 25px;
}

.product-preview__price {
  margin: 0;
  margin-bottom: 25px;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444444;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .product-preview {
    @include tablet-container;
  }

  .product-preview__heading {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 45px;
  }

  .product-preview__title {
    font-size: 43px;
    line-height: 50px;
  }

  .product-preview__reason {
    width: 100px;
    text-align: center;
    line-height: 17px;
  }
}

@media (min-width: $desktop-width) {
  .product-preview {
    @include desktop-container;
  }

  .product-preview__heading {
    justify-content: flex-start;
  }

  .product-preview__title {
    font-size: 53px;
    line-height: 57px;
    order: 2;
  }

  .product-preview__reason {
    padding-left: 40px;
    padding-right: 40px;
  }
}
